{% load staticfiles %}

<! DOCTYPE html >

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                St. Basil Confirmation -
            {% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if IE]><script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script><![endif]-->

        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

        <link rel="stylesheet" type="text/css"
              href="{% static '/normalize.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static '/skeleton.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'custom.css' %}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="container"><!-- container -->
            <header class="row">
                <div class="two columns">
                    <a href="{% url 'welcome_page' %}">
                        <img class="u-max-full-width" src="{% static 'images/HolyspiritYellowRedFlipped.png' %}">
                    </a>
                </div>
                <div class="ten columns">
                    <h2 class="logo">St. Basil Confirmation Activities</h2>
                </div>
                <div class="u-pull-right">
                    {% if user.is_authenticated %}
                        <a class="link" href="{% url 'dj-auth:logout' %}?next={{ request.path }}">Logout</a>
                    {% endif %}
                </div>
                <div class="u-pull-right">
                    {% if user.is_authenticated %}
                        <div class="welcome">Welcome {{ user.first_name }}</div>
                    {% endif %}
                </div>
            </header>
            <main>
                {% block content %}
                    This is default content!
                {% endblock %}
            </main>
        </div><!-- container -->
        <div class="container">
            <footer class="row">
                <p class="u-pull-right">
                    Developed by Fr. Jim Morris
                </p>
            </footer>
        </div>
    </body>
