{% extends 'user/base_user.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <p class="offset-by-three six columns info u-full-width">
        Enter the Username and Password you were given then click the "Submit" button. Both the Username and Password
        are case sensitive.
    </p>
    <form class="offset-by-four four columns" method="post" action="{% url 'dj-auth:login' %}">
        <p class="row">
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <label for="id_username">Username:</label>
            <input class="u-full-width" type="text"
                   name="username" autofocus maxlength="254" required id="id_username" />
            <label for="id_password">Password:</label>
            <input class="u-full-width" type="password"
                   name="password" required id="id_password" />
            <input class="button-primary u-full-width" value="Login" type="submit">
        </p>
        {% csrf_token %}
    </form>
{% endblock %}
