{% extends 'activity/base_activity.html' %}

{% block content %}

    <ul class="link-list">
        {% if activity.overview %}
            <div class="row">
                <p class="overview offset-by-four four columns">
                    {{ activity.overview }}
                </p>
            </div>
        {% endif %}
        {% for action in actions %}
            <a href="/activity/{{ activity.slug }}/{{ action.number }}">
                <li class="row">
                    <div class="offset-by-one five columns">
                        {{ action }}
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}
